@tailwind base;
@tailwind components;
@tailwind utilities;


.Section1 {
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Grade Section */

.GradeSection {
  width: 100%;
  background-color: #F2F5F6;
}

.GradeSection-childOne {
  height: 500px;
}

.gradeImg {
  height: 100%;
  width: 75%;
  background-image: url("/CaptureImg.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  left: 100px;
}

.GradeSec {
  position: relative;
  right: 0px;
  top: 10px;
}